
<app-SlidBard></app-SlidBard>
<div *ngFor="let color of generatedColors" class="dynamic-text" [style.color]="color">Hello, World!
    <h1>Bienvenue sur le site web de la MIAGE de Nantes</h1>
<br>
Former en trois années des spécialistes en informatique de gestion
chargés de la conception, de la mise en oeuvre et du contrôle
des systèmes d'information dans le domaine de la gestion.

Qu'est-ce que la MIAGE ?<br><br>
La filière MIAGE (Méthodes Informatiques Appliquées à la Gestion des Entreprises) vise à former des cadres spécialisés dans l'ingénierie des systèmes d'information et de décision des entreprises. Ces cadres doivent être capables d'optimiser le fonctionnement actuel et futur d'une organisation par les méthodes et technologies de l'informatique dans le respect des attentes fonctionnelles, techniques, juridiques et financières.<br>
Quelles sont les compétences visées ?
<br><br>
Cet objectif nécessite des compétences dans trois directions principales :
<br>
    •la maîtrise des techniques et méthodes de l'informatique et la capacité à cerner leurs évolutions ;
    <br>
    •la capacité à analyser le fonctionnement des organisations, leur structure et les interactions internes et externes dans leurs diverses dimensions (technique, humaine, financière, industrielle, commerciale...), leur pilotage aux différents niveaux (opérationnel, tactique, stratégique) ;
    <br>
    •la capacité à proposer et à mettre en oeuvre des solutions informatiques pour améliorer ce fonctionnement et ce pilotage, ces solutions devant être agencées d'une manière intégrée et cohérente pour constituer le système d'information et de décision de l'organisation.
    <br>
Les autres pôles importants de compétences concernent les mathématiques de la décision, le droit des entreprises, la communication tant en français qu'en langue étrangère.
<br>
Quels sont les grands domaines enseignés ?<br><br>
Les principaux domaines couverts par les enseignements de MIAGE sont décrits dans le tableau ci-contre.
<br>
Quels sont les métiers après une MIAGE ?
<br><br>
La formation MIAGE ouvre les portes sur différents types de métiers d'encadrement dans l'informatique des organisations : soit par transfert direct de compétences, soit dans le cadre d'un parcours professionnel préparant à des métiers de haut niveau dans l'orbite des directions des systèmes d'information des entreprises. Elle forme des spécialistes en Informatique de gestion (dénomination "officielle" de l'APEC), chargés de la conception, de la mise en oeuvre et du contrôle des systèmes d'information dans le domaine de la gestion. Nos diplômés ont à la sortie une double compétence en Informatique et en Gestion, ce qui leur confère un profil prisé des entreprises.
<br><br>
Plus de vingt emplois métiers (Cigref) sont envisageables, répartis en trois catégories (accès direct, après expérience de trois à cinq ans, à plus terme et après expérience). On y retrouve, par exemple, développeur (analyste-programmeur, analyste fonctionnel, analyse réalisateur), consultant ERP, intégrateur d'applications (intégrateur de développement, concepteur intégrateur...) ou bien encore urbaniste des systèmes d'information (architecte fonctionnel, architecte des systèmes d'information, concepteur de systèmes d'information...). Une étude a montré que les profils les plus proposés par les sociétés de services sont ceux d'ingénieur d'étude et de développement, consultant technique ou métiers, chefs de projets ou administrateurs (système, réseaux ou bases de données). Ces métiers sont visés à plus ou moins long terme par la MIAGE.
<br>
<br>
La MIAGE est aussi la formation la plus adaptée pour la préparation au CAPET «section économie et gestion, option conception et gestion des systèmes d'information».
<br>
Quel est le marché de l'emploi dans ces métiers ?
<br><br>
La MIAGE forme des spécialistes en informatique de gestion (intitulé APEC, Quelques chiffres APEC). Une étude de cette association a montré qu'un tel profil correspond à environ 51 % des offres d'emploi en 2005, proportion d'offres constante puisqu'il y en avait 57% en 1997. C'est, de très loin, le premier profil demandé par les entreprises.
<br><br>
Le second gisement d'offres est libellé "Systèmes, réseaux, données" par l'APEC (avec actuellement autour de 19% de offres d'emploi, c'est la seconde fonction après l'informatique de gestion). Cette fonction est celle visée par l'option IRSI en Master 2 MIAGE.
<br>
A lire, les dossiers du Journal Du Net (JDN) sur les emplois en informatique :
<br>
    <a href="*http://www.journaldunet.com/solutions/emploi-rh/recrutement-informatique/">Journal du net</a>

<br>
<a href="https://fr.wikipedia.org/wiki/Méthodes_informatiques_appliquées_à_la_gestion_des_entreprises"> La MIAGE sur Wikipedia</a>
</div>