<h1 class="{{title}} {{titleColor}}  {{bgColor0}}"><strong>MIAGE</strong></h1>

<div class="container {{bgColor4}}">
    <div class="row">
      <div class="col-sm {{border1}} {{font1}} {{bgColor1}}">
        <p class="{{color1}}">La MIAGE est née à la fin des années 1960, à la suite des demandes des entreprises françaises de disposer de cadres ingénieurs universitaires hautement qualifiés, dans des domaines délaissés par les écoles traditionnelles, et notamment l'informatique de gestion. En 1969, le ministre de l'Éducation nationale Edgar Faure met en place dans trois universités pilotes (Lille, Clermont-Ferrand, et Montpellier), la maîtrise MIAGE, diplôme de niveau Bac+4. Parallèlement, les diplômes universitaires de Licence et Maîtrise informatique sont maintenus, avec une orientation plus scientifique.

            Au cours des années 1990, les MIAGE évoluent progressivement vers le statut d'institut universitaire professionnalisé (IUP), la durée des études passe de deux à trois ans et aboutit à l'obtention d'un titre d'« ingénieur-maître » et/ou d'un diplôme d'études supérieures spécialisées (DESS) mention MIAGE, diplôme de niveau Bac+5.
            
            Depuis 2002 et la réforme Licence-Master-Doctorat, le cursus MIAGE se clôt par un master, diplôme de niveau Bac+5. En Europe, ce diplôme est plus connu sous le nom de Master of Business Informatics (MBI).
            
            Depuis 2019, les formations MIAGE se définissent comme « Sciences du numérique et du management » et disposent d'un site internet officiel.</p>
      </div>
      <div class="col-sm {{border2}} {{font2}} {{bgColor2}}">
        <p class="{{color2}}">La MIAGE donne à ses étudiants une double compétence en informatique et en gestion. L'aspect professionnel est une caractéristique majeure de la formation, que ce soit par la présence d'intervenants extérieurs dans le corps enseignant ou par l'expérience acquise lors des stages obligatoires ou des formations en apprentissage.

            Les MIAGE sont accessibles sur concours et entretiens, après deux années d'études préalables (DUT, BTS, Classes préparatoires, Licence 2). La durée de la formation est normalement de trois ans et se termine par l'obtention d'un master.
            
            L'accès à la formation MIAGE est particulièrement sélectif, avec un taux de dossier accepté de seulement 17 % pour les masters de Paris Dauphine ou de Paris XI Orsay, 29 % pour l'université de Grenoble entre autres.</p>
      </div>
      <div class="col-sm {{border3}} {{font3}} {{bgColor3}}">
        <p class="{{color3}}">Selon les universités, le cursus et les matières enseignées peuvent légèrement différer, en privilégiant un axe de formation. L'université Paris-Dauphine a par exemple choisi la finance, en proposant un master MIAGE « Informatique pour la Finance » qui forme des spécialistes de l'informatique financière de la banque, de la finance ou de l'assurance5. La MIAGE de Nancy propose quant à elle une spécialisation dans la conception de systèmes d'information par la démarche intégratrice, tandis que la MIAGE d'Évry en partenariat avec Mozilla Education oriente son cursus vers les technologies du web (ontologie, web services, normes W3C).

            Les trois années de scolarité se distinguent par l’obligation d’effectuer plusieurs stages appliqués en entreprise, pendant les périodes de vacances (février, juillet, août) et aboutissant à la rédaction d’un mémoire. La durée totale cumulée des stages professionnels est d'environ 10 mois minimum.
            
            En période scolaire, une part importante de l’apprentissage s'effectue sous la forme de travaux pratiques et de travaux dirigés (en binôme ou en petit groupe), où l'étudiant met en application concrètement le savoir acquis au cours des enseignements magistraux (classe d’une trentaine d’élèves). À la fin de leur cursus, les élèves conçoivent et réalisent des projets informatiques de plus en plus complexes et de plus grande ampleur, basés sur des cas réels, et comparables à ceux auxquels ils seront confrontés au cours de leur vie professionnelle.
            
            En sciences de gestion, les étudiants participent également à un « jeu d'entreprise », simulant la vie d’une entreprise virtuelle sur plusieurs années, et leur permettant d’appréhender les contraintes liées à la direction de société.</p>
      </div>
    </div>
</div>