 <!-- Main Content -->
 <div id="content">

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-red topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>
        <img class="fit-picture"
        src="./assets/miage1.png"
        alt="MIAGE"
        >
        <button (click)="reload()">Accueil </button>
    </nav>
 </div>
